*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;

	color: #333;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	padding: 2em 0;
	font-size:100%;
	margin: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1.4em;
}

.row {
	display: flex;
}

.row.spaced {
	margin-left: -1em;
	margin-right: -1em;
}

.row.spaced > [class*="col"] {
	margin-left: 1em;
	margin-right: 1em;
}

.row.reverse {
	flex-direction: row-reverse;
}

.row.inline {
	display: inline-flex;
}

[class*="col"] {
	flex: 1;
	order: 0;
	background-color: #eee; /* temp */
}

.col-auto {
	flex-grow: auto;
}

.col-none {
	flex-grow: none;
}

[class*="col-1"] { flex: 1; }
[class*="col-2"] { flex: 2; }
[class*="col-3"] { flex: 3; }
[class*="col-4"] { flex: 4; }
[class*="col-5"] { flex: 5; }
[class*="col-6"] { flex: 6; }
[class*="col-7"] { flex: 7; }
[class*="col-8"] { flex: 8; }
[class*="col-9"] { flex: 9; }
[class*="col-10"] { flex: 10; }
[class*="col-11"] { flex: 11; }
[class*="col-12"] { flex: 12; }
[class*="col-13"] { flex: 13; }
[class*="col-14"] { flex: 14; }
[class*="col-15"] { flex: 15; }
[class*="col-16"] { flex: 16; }

[class*="col"].first { order: -1; }
[class*="col"].last { order: 1; }

[class*="col"].start { align-self: flex-start; }
[class*="col"].end { align-self: flex-end; }
[class*="col"].center { align-self: center; }
[class*="col"].baseline { align-self: baseline; }
[class*="col"].stretch { align-self: stretch; }

/*
 * align-self: auto | flex-start | flex-end | center | baseline | stretch
 */

/*== MEDIA QUERIES ==*/
/* large screen */
@media only screen and (min-width: 1700px) {
	body { font-size: 160%; }
	.container { max-width: 1600px; }
}

/* normal desktop */
@media only screen and (max-width: 1699px) and (min-width: 1300px)  {
	body { font-size: 120%; }
	.container { max-width: 1200px; }
}

/* small / tablet */
@media only screen and (max-width: 1299px) and (min-width: 481px)  {

}

/* all but phone (stacked columns) */
@media only screen and (min-width: 481px) {

}

/* phone (stacked columns) */
@media only screen and (max-width: 480px) {
	body { font-size: 90%; }

	.row:not(.no-stack) {
		flex-direction: column;
	}

	[class*="col"] {
		flex: 1;
	}
}
