*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;

	color: #333;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	font-size:100%;
	margin: 0;
}

.container {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 1.4em;
}

.row { display: flex; }
.row.inline { display: inline-flex; }

.row.spaced {
	margin-left: -1em;
	margin-right: -1em;
}

.row.spaced > [class*="col"] {
	margin-left: 1em;
	margin-right: 1em;
}

.row.vert { flow-direction: column; }
.row.reverse { flex-direction: row-reverse; }
.row.vert.reverse { flex-direction: column-reverse; }

.row.wrap { flex-wrap: wrap; }
.row.no-wrap { flex-wrap: no-wrap; }
.row.wrap-reverse { flex-wrap: wrap-reverse; }

.row.start { align-items: flex-start; }
.row.end { align-items: flex-end; }
.row.center { align-items: center; }
.row.baseline { align-items: baseline; }
.row.stretch { align-items: stretch; }

[class*="col"] {

}

.col-auto { flex: auto; }
.col-none { flex: none; }

[class*="col-1"] { flex: 1; }
[class*="col-2"] { flex: 2; }
[class*="col-3"] { flex: 3; }
[class*="col-4"] { flex: 4; }
[class*="col-5"] { flex: 5; }
[class*="col-6"] { flex: 6; }
[class*="col-7"] { flex: 7; }
[class*="col-8"] { flex: 8; }
[class*="col-9"] { flex: 9; }
[class*="col-10"] { flex: 10; }
[class*="col-11"] { flex: 11; }
[class*="col-12"] { flex: 12; }
[class*="col-13"] { flex: 13; }
[class*="col-14"] { flex: 14; }
[class*="col-15"] { flex: 15; }
[class*="col-16"] { flex: 16; }

.row > .first { order: -1; }
.row > .last { order: 1; }

.row > .start { align-self: flex-start; }
.row > .end { align-self: flex-end; }
.row > .center { align-self: center; }
.row > .baseline { align-self: baseline; }
.row > .stretch { align-self: stretch; }

.row.space-between { justify-content: space-between; }

/* specific elements */
.row > input,
.row > button,
.row > .button {
	/*border: solid 1px gray;
	border-right: 0;*/
	margin: 0;
}

.row > input:last-child,
.row > button:last-child,
.row > .button:last-child {
	/*border-right: solid 1px gray;*/
}

nav ul.row {
	padding: 0;
	list-style-type: none;
	justify-content: space-between;
    flex-wrap: wrap;
}

nav ul.row > li {
	flex: 0 1 auto;
}

/*== MEDIA QUERIES ==*/
/* large screen */
@media only screen and (min-width: 1700px) {
	body { font-size: 160%; }
	/*.container { max-width: 1600px; }*/
}

/* normal desktop */
@media only screen and (max-width: 1699px) and (min-width: 1300px)  {
	body { font-size: 120%; }
	/*.container { max-width: 1200px; }*/
}

/* small / tablet */
@media only screen and (max-width: 1299px) and (min-width: 481px)  {

}

/* all but phone (stacked columns) */
@media only screen and (min-width: 481px) {

}

/* phone (stacked columns) */
@media only screen and (max-width: 480px) {
	body { font-size: 90%; }

	.row:not(.no-stack) {
		flex-direction: column;
	}

	[class*="col-"] {
		/*flex: auto;*/
	}
}
